@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "M PLUS 1p", sans-serif;
}

/*Структуризація*/
.container {
    display: grid;
    grid-template-areas:
        "header"
        "main";
    grid-template-rows: 100px auto;
    grid-template-columns: auto;
    gap: 0;
    padding: 10px 300px;
}

.header {
    grid-area: header;
    background-color: #cbe691;
    border-radius: 20px;
    padding: 20px 50px;
    margin: 10px;
}

.main {
    grid-area: main;
    background-color: white;
    padding: 20px;
    margin-top: 10px;
}


/*Header*/
.header nav {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
}

.header h1 {
    flex: 1;
    height: 100%;
    text-align: center;
}

.right-buttons {
    display: flex;
    margin-left: auto;
    gap: 20px;
}

.header button {
    width: 60px;
    height: 60px;
    padding: 0;
    border: none;
    border-radius: 30px;
    background: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header button:hover {
    background: #333;
    color: white;
}

.header button i {
    font-size: 24px;
    transition: transform 0.2s ease;
}

.header button:hover i {
    transform: scale(1.2);
}


/*Main*/
.top-h {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

.users-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    padding: 20px;
}

.user-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 30px;
    border-radius: 8px;
    background: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    height: 100%;
}

.user-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin: 20px 0;
}

.buttons-block {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons-block .role-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.role-buttons form {
    width: 100%;
}

.role-buttons .add-role-form button {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: #0890cf;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
}

.role-buttons .add-role-form button:hover {
    background-color: #0d77bd;
}

.role-buttons .delete-role-form button {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: #b8272f;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
}

.role-buttons .delete-role-form button:hover {
    background-color: #91272d;
}



.buttons-block .delete-user-form {
    width: 100%;
}

.buttons-block .delete-user-form button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #b8272f;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
}

.buttons-block .delete-user-form button:hover {
    background-color: #91272d;
    font-size: 15px;
}
