<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/cart.css}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta charset="UTF-8">
    <title>Кошик - Інтернет магазин</title>
</head>
<body>

<div class="container">
    <header class="header">
        <nav class="nav">
            <form th:action="'/'" method="get">
                <button type="submit" class="home-button">
                    <i class='bx bxs-home'></i>
                </button>
            </form>

            <h1>Інтернет-магазин різноманітних товарів</h1>

            <div class="right-buttons">
                <form th:action="'/cart/get'" method="get">
                    <button type="submit" class="cart-button">
                        <i class='bx bxs-cart'></i>
                    </button>
                </form>

                <form th:action="'/account'" method="get">
                    <button type="submit" class="account-button">
                        <i class='bx bxs-user'></i>
                    </button>
                </form>

                <form th:action="'/logout'" method="post">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                    <button type="submit" class="account-button">
                        <i class='bx bx-log-out' ></i>
                    </button>
                </form>
            </div>
        </nav>
    </header>

    <main class="main">
        <h1>Ваш кошик з товарами</h1>




        <div class="products-grid">
            <div class="product-card" th:each="product : ${products}">
                <a th:href="@{/product/{id}(id=${product.id})}" class="product-link">
                    <div class="product-image">
                        <img th:src="${product.imageUrl}" th:alt="${product.name}" />
                    </div>
                    <div class="product-info">
                        <div class="higher">
                            <h4 class="product-price" th:text="${#numbers
                                        .formatInteger(product.price, 0, 'POINT')
                                        ?.replace('.', ' ')} + ' ₴'"></h4>
                            <h4 class="product-name" th:text="${product.name}"></h4>
                            <h4 class="product-category" th:if="${product.category != null}" th:text="${product.category.name}"></h4>
                            <h4 class="product-category" th:if="${product.category == null}">Без категорії</h4>
                        </div>
                        <p class="product-description"
                           th:text="${product.description}">
                        </p>
                    </div>
                </a>

                <form th:action="@{/cart/delete-product}" method="post" class="delete-from-cart-form">
                    <input type="hidden" name="product_id" th:value="${product.id}" />
                    <button type="submit">
                        Скасувати
                    </button>
                </form>
            </div>

            <div class="sum-info" th:if="${products.size() > 0}">
                <p class="product-price" th:text="'Загальна вартість: ' + ${#numbers
                            .formatInteger(total_price, 0, 'POINT')
                            ?.replace('.', ' ')} + ' ₴'"></p>

                <form class="create-order-form" th:action="@{/order/confirm-data}" method="get">
                    <button type="submit">
                        Замовити
                    </button>
                </form>
            </div>
        </div>
<!--        <div class="products-grid">-->
<!--            <div class="product-card" th:each="product : ${products}">-->
<!--                <a th:href="@{/product/{id}(id=${product.id})}" class="product-link">-->
<!--                    <div class="product-image">-->
<!--                        <img th:src="${product.imageUrl}" th:alt="${product.name}" />-->
<!--                    </div>-->
<!--                    <div class="product-info">-->
<!--                        <div class="higher">-->
<!--                            <h4 class="product-price" th:text="${#numbers-->
<!--                            .formatInteger(product.price, 0, 'POINT')-->
<!--                            ?.replace('.', ' ')} + ' ₴'"></h4>-->
<!--                            <h4 class="product-name" th:text="${product.name}"></h4>-->
<!--                            <h4 class="product-category" th:text="${product.category.name}"></h4>-->
<!--                        </div>-->
<!--                        <p class="product-description"-->
<!--                           th:text="${product.description}">-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </a>-->
<!--                <form th:action="@{/cart/delete-product}" method="post" class="delete-from-cart-form">-->
<!--                    <input type="hidden" name="product_id" th:value="${product.id}" />-->
<!--                    <button type="submit">-->
<!--                        Скасувати-->
<!--                    </button>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->



    </main>
</div>

</body>
</html>