<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/create-category.css}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta charset="UTF-8">
    <title>Створення категорії - Інтернет магазин</title>
</head>
<body>

<div class="container">
    <header class="header">
        <nav class="nav">
            <form th:action="'/'" method="get">
                <button type="submit" class="home-button">
                    <i class='bx bxs-home'></i>
                </button>
            </form>

            <h1>Інтернет-магазин різноманітних товарів</h1>

            <div class="right-buttons">
                <form th:action="'/cart/get'" method="get">
                    <button type="submit" class="cart-button">
                        <i class='bx bxs-cart'></i>
                    </button>
                </form>

                <form th:action="'/account'" method="get">
                    <button type="submit" class="account-button">
                        <i class='bx bxs-user'></i>
                    </button>
                </form>

                <form th:action="'/logout'" method="post">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                    <button type="submit" class="account-button">
                        <i class='bx bx-log-out' ></i>
                    </button>
                </form>
            </div>
        </nav>
    </header>

    <main class="main">
        <h1>Створення категорії</h1>
        <form th:action="'/catalog/create-category'" method="post">

            <label for="name">Назва категорії</label>
            <input type="text" id="name" name="name"/><br><br>

            <label for="slug">Slug категорії</label>
            <input type="text" id="slug" name="slug"/><br><br>

            <input type="submit" value="Створити">
        </form>
    </main>
</div>

</body>
</html>