<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" th:href="@{/css/create-edit-product.css}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <meta charset="UTF-8">
  <title>Створення публікації - Інтернет магазин</title>
</head>
<body>

<div class="container">
  <header class="header">
    <nav class="nav">
      <form th:action="'/'" method="get">
        <button type="submit" class="home-button">
          <i class='bx bxs-home'></i>
        </button>
      </form>

      <h1>Інтернет-магазин різноманітних товарів</h1>

      <div class="right-buttons">
        <form th:action="'/cart/get'" method="get">
          <button type="submit" class="cart-button">
            <i class='bx bxs-cart'></i>
          </button>
        </form>

        <form th:action="'/account'" method="get">
          <button type="submit" class="account-button">
            <i class='bx bxs-user'></i>
          </button>
        </form>

        <form th:action="'/logout'" method="post">
          <input type="hidden" name="_csrf" th:value="${_csrf.token}">
          <button type="submit" class="account-button">
            <i class='bx bx-log-out' ></i>
          </button>
        </form>
      </div>
    </nav>
  </header>

  <main class="main">
    <h1>Редагування публікації</h1>
    <form th:action="'/product/edit'" method="post" enctype="multipart/form-data">

      <div class="left-inputs">
        <input type="text" placeholder="Назва продукту" id="name" name="name"/>

        <select id="category" name="category" required>
          <option value="">Виберіть категорію</option>
          <option th:each="category : ${categories}"
                  th:value="${category.id}"
                  th:text="${category.name}">
          </option>
        </select>

        <input type="number" placeholder="Ціна" id="price" name="price"/>

        <input class="image-input" type="file" id="image" name="image" required autocomplete="off"/>
        <label for="image" class="custom-file-upload">
          <span class="default-text">Завантажити зображення</span>
          <span class="selected-text">Зображення обрано</span>
        </label>
      </div>

      <textarea placeholder="Опис..." id="description" name="description" rows="5"></textarea>

      <button type="submit">Підтвердити зміни</button>
    </form>
  </main>
</div>

</body>
</html>