<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизація</title>
</head>
<body>
<h1>Інтернет-магазин</h1>
<h4>Авторизація</h4>

<form action="/login" method="post">
    Логін: <label for="username"></label>
    <input type="text" id="username" name="username"><br><br>
    Пароль: <label for="password"></label>
    <input type="text" id="password" name="password"><br><br>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
    <input type="submit" value="Увійти">
</form>
<a href="/registration">Зареєструватися</a>

</body>
</html>