<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/manage-categories.css}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta charset="UTF-8">
    <title>Створення категорії - Інтернет магазин</title>
</head>
<body>

<div class="container">
    <header class="header">
        <nav class="nav">
            <form th:action="'/'" method="get">
                <button type="submit" class="home-button">
                    <i class='bx bxs-home'></i>
                </button>
            </form>

            <h1>Інтернет-магазин різноманітних товарів</h1>

            <div class="right-buttons">
                <form th:action="'/cart/get'" method="get">
                    <button type="submit" class="cart-button">
                        <i class='bx bxs-cart'></i>
                    </button>
                </form>

                <form th:action="'/account'" method="get">
                    <button type="submit" class="account-button">
                        <i class='bx bxs-user'></i>
                    </button>
                </form>

                <form th:action="'/logout'" method="post">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                    <button type="submit" class="account-button">
                        <i class='bx bx-log-out' ></i>
                    </button>
                </form>
            </div>
        </nav>
    </header>

    <div class="sidebar">
        <div class="create-category-block">
            <h1>Створення категорії</h1>
            <form th:action="'/admin/create-category'" method="post">

                <input type="text" id="name" placeholder="Назва" name="name"/>

                <input type="text" id="slug" placeholder="slug" name="slug"/>

                <button type="submit">Створити</button>
            </form>
        </div>
    </div>

    <main class="main">
        <h1 class="top-h">Список категорій</h1>
        <div class="category-block" th:each="category : ${categories}">
            <p class="name" th:text="${category.name}"></p>
            <p class="slug" th:text="'slug: ' + ${category.slug}"></p>
            <form th:action="'/admin/delete-category'" method="post">
                <input type="hidden" name="category_id" th:value="${category.id}"/>
                <button type="submit">Видалити</button>
            </form>
        </div>
    </main>
</div>

</body>
</html>